 /*== 1.    ENCABEZADO===*/
 .container1__header{
    background-color: #0f1b49;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 20px;
    font-size: 1.5em;
}