$color-texto: #0f1b49;
$standard-size: 2em;
$standard-size-parrafo: 1.5em;
$bg-ubi: #f3f3f3;
$bg-standard: #0f1b491f;

// MIXINS  ==
@mixin standar-box ($j-c, $flex-direction) {
    display: flex;
    justify-content: $j-c;
    flex-direction: $flex-direction;
    align-items: center;
    background-color: $bg-standard;
}